@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">嗚呼 我喜歡吃薯條 好耶</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>