@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SuperGOOD</h1>
    <p>這是一個line機機人的後台 有問題別問我 我也不懂 <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>